doctype html
html(style="width: 100%; overflow-x: hidden" lang="zh-cn" )
  head
    title 艺论被删除
    meta(charset='UTF-8')
    meta(content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
  body
    h2(style="text-align:center;margin-top:1rem") 艺论被删除