doctype html
html(style="width: 100%; overflow-x: hidden" lang="zh-cn" )
  head
    title 艺论视频
    meta(charset='UTF-8')
    //- meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
    meta(content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    link(rel='stylesheet', href='/ArtWebStatic/stylesheets/art_video.css')
    
  body
    block content 